.dashboard {
  min-height: 200px;
  max-height: 490px;
  width: 230px;

  .toolbar-title {
    font-size: 0.8rem;
    font-weight: 400;
  }

  .drawer-content-wrapper {
    display: flex;
    flex-direction: column;

    .drawer-bar-wrapper {
      flex: none;
    }
  }

  .weather-list-wrapper {
    height: calc(100% - $app-bar-height);
    overflow-y: auto;
  }
}